In [1]:
pip install mysql-connector-python psycopg2-binary

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.5.0-cp313-cp313-win_amd64.whl.metadata (7.7 kB)
Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.11-cp313-cp313-win_amd64.whl.metadata (5.1 kB)
Downloading mysql_connector_python-9.5.0-cp313-cp313-win_amd64.whl (16.5 MB)
   ---------------------------------------- 0.0/16.5 MB ? eta -:--:--
   ---------------------------------------- 0.0/16.5 MB ? eta -:--:--
   ---------------------------------------- 0.0/16.5 MB ? eta -:--:--
    --------------------------------------- 0.3/16.5 MB ? eta -:--:--
   -- ------------------------------------- 1.0/16.5 MB 3.1 MB/s eta 0:00:05
   ----- ---------------------------------- 2.1/16.5 MB 4.0 MB/s eta 0:00:04
   -------- ------------------------------- 3.7/16.5 MB 4.8 MB/s eta 0:00:03
   ----------- ---------------------------- 4.7/16.5 MB 4.9 MB/s eta 0:00:03
   --------------- ------------------------ 6.3/16.5 MB 5.3 MB/s eta 0:00:02
   ----------------- ---------------------- 7.1/16.5 MB 5.2 MB/s eta 0:00:02
   -------------------- ------------------- 8.4/16.5 MB 5.3 MB/s eta 0:00:02
   ----------------------- ---------------- 9.7/16.5 MB 5.4 MB/s eta 0:00:02
   --------------------------- ------------ 11.3/16.5 MB 5.5 MB/s eta 0:00:01
   ------------------------------ --------- 12.6/16.5 MB 5.7 MB/s eta 0:00:01
   --------------------------------- ------ 13.9/16.5 MB 5.7 MB/s eta 0:00:01
   ------------------------------------ --- 14.9/16.5 MB 5.7 MB/s eta 0:00:01
   ---------------------------------------  16.3/16.5 MB 5.7 MB/s eta 0:00:01
   ---------------------------------------- 16.5/16.5 MB 5.6 MB/s  0:00:03
Downloading psycopg2_binary-2.9.11-cp313-cp313-win_amd64.whl (2.7 MB)
   ---------------------------------------- 0.0/2.7 MB ? eta -:--:--
   --------------- ------------------------ 1.0/2.7 MB 6.7 MB/s eta 0:00:01
   ---------------------------------- ----- 2.4/2.7 MB 6.4 MB/s eta 0:00:01
   ---------------------------------------- 2.7/2.7 MB 5.9 MB/s  0:00:00
Installing collected packages: psycopg2-binary, mysql-connector-python

   ---------------------------------------- 0/2 [psycopg2-binary]
   ---------------------------------------- 0/2 [psycopg2-binary]
   -------------------- ------------------- 1/2 [mysql-connector-python]
   -------------------- ------------------- 1/2 [mysql-connector-python]
   -------------------- ------------------- 1/2 [mysql-connector-python]
   -------------------- ------------------- 1/2 [mysql-connector-python]
   -------------------- ------------------- 1/2 [mysql-connector-python]
   -------------------- ------------------- 1/2 [mysql-connector-python]
   -------------------- ------------------- 1/2 [mysql-connector-python]
   -------------------- ------------------- 1/2 [mysql-connector-python]
   -------------------- ------------------- 1/2 [mysql-connector-python]
   -------------------- ------------------- 1/2 [mysql-connector-python]
   -------------------- ------------------- 1/2 [mysql-connector-python]
   -------------------- ------------------- 1/2 [mysql-connector-python]
   -------------------- ------------------- 1/2 [mysql-connector-python]
   -------------------- ------------------- 1/2 [mysql-connector-python]
   -------------------- ------------------- 1/2 [mysql-connector-python]
   -------------------- ------------------- 1/2 [mysql-connector-python]
   -------------------- ------------------- 1/2 [mysql-connector-python]
   -------------------- ------------------- 1/2 [mysql-connector-python]
   -------------------- ------------------- 1/2 [mysql-connector-python]
   -------------------- ------------------- 1/2 [mysql-connector-python]
   -------------------- ------------------- 1/2 [mysql-connector-python]
   -------------------- ------------------- 1/2 [mysql-connector-python]
   -------------------- ------------------- 1/2 [mysql-connector-python]
   ---------------------------------------- 2/2 [mysql-connector-python]

Successfully installed mysql-connector-python-9.5.0 psycopg2-binary-2.9.11
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd
import mysql.connector
conn = mysql.connector.connect(
   host="localhost",
   user="root",
   password="aaaa",
   database="moviedb"
)

In [9]:
query = "SELECT * FROM movie"
df = pd.read_sql_query(query, conn)
df = pd.DataFrame(df)
df

C:\Users\USER PC\AppData\Local\Temp\ipykernel_14636\2180613035.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

,MovieID,Title,Year,Length,PlotOutline,CompanyID,Rating,Language
0,1,Inception,2010,148,A thief who steals corporate secrets through d...,1,8.8,English
1,2,The Dark Knight,2008,152,"Batman faces the Joker, a criminal mastermind ...",1,9.0,English
2,3,Pulp Fiction,1994,154,Interconnected stories of crime and redemption...,3,8.9,English
3,4,The Shawshank Redemption,1994,142,"Two imprisoned men bond over years, finding so...",2,9.3,English
4,5,Fight Club,1999,139,An insomniac office worker and a soapmaker for...,2,8.8,English
5,6,The Grand Budapest Hotel,2014,99,Adventures of a legendary concierge and his lo...,8,8.1,English
6,7,Gladiator,2000,155,A former Roman General sets out to exact venge...,3,8.5,English
7,8,Alien,1979,117,The crew of a commercial spacecraft encounter ...,9,8.4,English
8,9,La La Land,2016,128,A musician and an aspiring actress fall in lov...,8,8.0,English
9,10,Interstellar,2014,169,A team of explorers travel through a wormhole ...,1,8.6,English
10,11,The Martian,2015,144,An astronaut becomes stranded on Mars and uses...,2,8.0,English
11,12,The Prestige,2006,130,Two magicians engage in a rivalry to create th...,1,7.5,English
12,13,Django Unchained,2012,165,"With the help of a German bounty hunter, a fre...",3,8.4,English
13,14,The King's Speech,2010,118,The story of King George VI and his speech the...,10,8.0,English
14,15,Blade Runner,1982,117,A blade runner must pursue and terminate four ...,9,8.1,English
15,16,The Social Network,2010,120,The founding of Facebook and the resulting law...,5,7.7,English
16,17,Mad Max: Fury Road,2015,120,"In a post-apocalyptic wasteland, Max helps a w...",4,8.1,English
17,18,Goodfellas,1990,146,The rise and fall of mob associate Henry Hill.,3,8.7,English
18,19,The Revenant,2015,156,A frontiersman fights for survival and revenge...,2,8.0,English
19,20,The Hobbit: An Unexpected Journey,2012,169,A reluctant Hobbit sets out to the Lonely Moun...,7,7.8,English
20,21,Edge of Tomorrow,2014,113,A soldier fighting aliens gets to relive the s...,2,7.9,English
21,22,A Quiet Place,2018,90,"In a post-apocalyptic world, a family must liv...",2,7.5,English
22,23,Guardians of the Galaxy,2014,121,A group of intergalactic criminals must pull t...,6,8.0,English

In [10]:
query = "SELECT * FROM person"
df = pd.read_sql_query(query, conn)
df = pd.DataFrame(df)
df

C:\Users\USER PC\AppData\Local\Temp\ipykernel_14636\195814150.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

    PersonID                  Name DateOfBirth    Country
0          1     Christopher Nolan  1970-07-30         UK
1          2     Quentin Tarantino  1963-03-27        USA
2          3      Steven Spielberg  1946-12-18        USA
3          4       Martin Scorsese  1942-11-17        USA
4          5          Greta Gerwig  1983-08-04        USA
5          6     Leonardo DiCaprio  1974-11-11        USA
6          7             Brad Pitt  1963-12-18        USA
7          8       Natalie Portman  1981-06-09     Israel
8          9             Tom Hanks  1956-07-09        USA
9         10            Emma Stone  1988-11-06        USA
10        11  Joseph Gordon-Levitt  1981-02-17        USA
11        12           Elliot Page  1987-02-21     Canada
12        13        Christian Bale  1974-01-30         UK
13        14         Michael Caine  1933-03-14         UK
14        15          Ridley Scott  1937-11-30         UK
15        16           Hans Zimmer  1957-09-12    Germany
16        17           Guy Ritchie  1968-09-10         UK
17        18         Saoirse Ronan  1994-04-12    Ireland
18        19             Tom Hardy  1977-09-15         UK
19        20          Sharon Stone  1958-03-10        USA
20        21     Samuel L. Jackson  1948-12-21        USA
21        22           Uma Thurman  1970-04-29        USA
22        23       Anthony Hopkins  1937-12-31         UK
23        24      Daniel Day-Lewis  1957-04-29         UK
24        25        Cate Blanchett  1969-05-14  Australia
25        26           Adam Driver  1983-11-19        USA
26        27           Zoe Saldana  1978-06-19        USA
27        28           Chris Pratt  1979-06-21        USA
28        29           Emily Blunt  1983-02-23         UK

In [17]:
query = "SELECT * FROM person WHERE country = 'UK'";
df = pd.read_sql_query(query, conn)
df = pd.DataFrame(df)
df

C:\Users\USER PC\AppData\Local\Temp\ipykernel_14636\3344813172.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

   PersonID               Name DateOfBirth Country
0         1  Christopher Nolan  1970-07-30      UK
1        13     Christian Bale  1974-01-30      UK
2        14      Michael Caine  1933-03-14      UK
3        15       Ridley Scott  1937-11-30      UK
4        17        Guy Ritchie  1968-09-10      UK
5        19          Tom Hardy  1977-09-15      UK
6        23    Anthony Hopkins  1937-12-31      UK
7        24   Daniel Day-Lewis  1957-04-29      UK
8        29        Emily Blunt  1983-02-23      UK