pandas.Series

In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\user pc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.3.3)
Requirement already satisfied: numpy>=1.23.2 in c:\users\user pc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2.3.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user pc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\user pc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\user pc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\user pc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

In [5]:
sales = pd.Series([100, 200, 150, 300], index=['Apples', 'Bananas', 'Oranges', 'Grapes'])
print(sales)

Apples     100
Bananas    200
Oranges    150
Grapes     300
dtype: int64

In [8]:
mylist=[10,20,30,40]
mySeries=pd.Series(mylist)
print(mySeries)

0    10
1    20
2    30
3    40
dtype: int64

In [10]:
mylist=[10,20,30,40]
mySeries=pd.Series(mylist)
print(mySeries)

0    10
1    20
2    30
3    40
dtype: int64

In [11]:
#put name for the Serise
mylist=[10,20,30,40]
mySeries=pd.Series(mylist,name="Grades") #name for column
print(mySeries)

0    10
1    20
2    30
3    40
Name: Grades, dtype: int64

In [13]:
#change the index 0,1,2,3 to a,b,c,d  for rows
mySeries.index = ['a', 'b', 'c', 'd']
mySeries

a    10
b    20
c    30
d    40
Name: Grades, dtype: int64

In [4]:
mylist=[10,20,30,40,50]
mySeries=pd.Series(mylist,name="Grades",index = ['Ali', 'Noor', 'Amal','Nada', 'Fatima'])
print(mySeries)

Ali       10
Noor      20
Amal      30
Nada      40
Fatima    50
Name: Grades, dtype: int64

In [22]:
mySeries.values

array([10, 20, 30, 40])

In [23]:
mySeries.index

Index(['Ali', 'Noor', 'Amal', 'Fatima'], dtype='object')

In [24]:
mylist=[10,20,30,40]
mySeries1=pd.Series(mylist,name="Grades")
mySeries1.index

RangeIndex(start=0, stop=4, step=1)

In [28]:
#add new element
mySeries["ali"]=90
mySeries.values
mySeries

Ali       10
Noor      20
Amal      30
Fatima    40
ali       90
Name: Grades, dtype: int64

In [34]:
#error:
mySeries['1']=90
mySeries.values
mySeries

Ali       10
Noor      90
Amal      90
Fatima    40
ali       90
1         90
Name: Grades, dtype: int64

In [36]:
# هل هو indexولا label[9] يصير لخبطة لانه مو عارف
mySeries[4]=90  
mySeries.values
mySeries

C:\Users\USER PC\AppData\Local\Temp\ipykernel_2536\581228680.py:2: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  mySeries[4]=90

Ali       10
Noor      90
Amal      90
Fatima    40
ali       90
1         90
Name: Grades, dtype: int64

In [38]:
#access the element
print(mySeries['Ali'])

10

In [39]:
print(mySeries[0])

10

C:\Users\USER PC\AppData\Local\Temp\ipykernel_2536\3729497040.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(mySeries[0])

In [47]:
mySeries[mySeries<40]

Ali     10
Noor    20
Amal    30
Name: Grades, dtype: int64

In [65]:
abovea=mySeries[(mySeries >= 20) & (mySeries <= 40)]
abovea

indexs
Noor    20
Amal    30
Nada    40
Name: Grades, dtype: int64

In [56]:
mySeries.between(20,40, inclusive='both')

Ali       False
Noor       True
Amal       True
Nada       True
Fatima    False
Name: Grades, dtype: bool

In [58]:
mySeries

Ali       10
Noor      20
Amal      30
Nada      40
Fatima    50
Name: Grades, dtype: int64

In [5]:
myDictionary=mySeries.to_dict()
myDictionary

{'Ali': 10, 'Noor': 20, 'Amal': 30, 'Nada': 40, 'Fatima': 50}

Task 1:

In [ ]:
Creating and Accessing a Pandas Series

Task:
Create a Series that stores the monthly sales (in OMR) for 5 stores using this data:
stores = ['Muscat', 'Sohar', 'Nizwa', 'Salalah', 'Sur']
sales = [1200, 950, 1100, 1600, 800]

Display:

All store names (index).
All sales values.
The sales value for Salalah using label indexing.
The sales value of the last store using position indexing.

In [45]:
sales = [1200, 950, 1100, 1600, 800]
stores = ['Muscat', 'Sohar', 'Nizwa', 'Salalah', 'Sur']
sales_series = pd.Series(sales, index=stores)
print("All store names (index):\n ",sales_series.index) #All store names (index).
print("-"*50)
print("All sales values: ",sales_series.values)#All sales values.
print("-"*50)
print("The sales value for Salalah: ", sales_series['Salalah']) #The sales value for Salalah using label indexing
print("-"*50)
print("The sales value of the last store: ",sales_series[-1]) #The sales value of the last store using position indexing.
#print("The sales value of the last store: ",sales_series[4])

All store names (index):
  Index(['Muscat', 'Sohar', 'Nizwa', 'Salalah', 'Sur'], dtype='object')
--------------------------------------------------
All sales values:  [1200  950 1100 1600  800]
--------------------------------------------------
The sales value for Salalah:  1600
--------------------------------------------------
The sales value of the last store:  800

C:\Users\USER PC\AppData\Local\Temp\ipykernel_12436\1148068850.py:10: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print("The sales value of the last store: ",sales_series[-1]) #The sales value of the last store using position indexing.

In [ ]:
TaskB:
Using NumPy operations on the Series, compute:
The total sales across all stores.
The average sales.
The stores with sales above the average.
The difference of each store’s sales from the highest sale.
-------------------------------------------------------------------

Task 2:

In [85]:
import numpy as np

In [42]:
sales_series = pd.Series(sales, index=stores)
print("sales series: ",sales_series)
print("-"*50)
total_sales_series=np.sum(sales_series)
print("the total sales series: ", total_sales_series) #The total sales across all stores.
print("-"*50)
average__sales_series=np.mean(sales_series) #The average sales.
print("average sales series: ",average__sales_series)
print("-"*50)
above_avg=sales_series[sales_series>average__sales_series] #The stores with sales above the average.
print("sales above the average: ",above_avg) 
print("-"*50)
max_sales = np.max(sales_series)
sales_difference = max_sales - sales_series  #The difference of each store’s sales from the highest sale.
print("The difference of each store’s sales:\n",sales_difference)

sales series:  Muscat     1200
Sohar       950
Nizwa      1100
Salalah    1600
Sur         800
dtype: int64
--------------------------------------------------
the total sales series:  5650
--------------------------------------------------
average sales series:  1130.0
--------------------------------------------------
sales above the average:  Muscat     1200
Salalah    1600
dtype: int64
--------------------------------------------------
The difference of each store’s sales:
 Muscat     400
Sohar      650
Nizwa      500
Salalah      0
Sur        800
dtype: int64

####################################################################

In [51]:
#name for the  index :

mySeries.index.name="indexs"
mySeries

indexs
Ali       10
Noor      20
Amal      30
Nada      40
Fatima    50
Name: Grades, dtype: int64

In [ ]:
Q: is empty strings is it null?

In [53]:
mySeries.isnull()

indexs
Ali       False
Noor      False
Amal      False
Nada      False
Fatima    False
Name: Grades, dtype: bool

In [54]:
mySeries.notnull()

indexs
Ali       True
Noor      True
Amal      True
Nada      True
Fatima    True
Name: Grades, dtype: bool

In [55]:
mySeries.isnull().sum()

np.int64(0)

In [56]:
noNull=mySeries.isnull().sum()
print(noNull)

0

In [57]:
null=mySeries.notnull().sum() # it is not null they have a values
print(null)

5

In [58]:
mySeries[mySeries.isnull()]

Series([], Name: Grades, dtype: int64)

In [59]:
mySeries[mySeries.notnull()]

indexs
Ali       10
Noor      20
Amal      30
Nada      40
Fatima    50
Name: Grades, dtype: int64

In [71]:
booleanSeries = pd.Series([True, True, False, False, True],index = ['Ali', 'Noor', 'Amal','Nada', 'Fatima'])
mySeries[booleanSeries] # here will check the index postion

indexs
Ali       10
Noor      20
Fatima    50
Name: Grades, dtype: int64

In [80]:
booleanSeries =pd.Series([True, True, False, False, True])
mySeries[booleanSeries]

0    10
1    20
4    50
dtype: int64

In [81]:
newFilteration=mySeries[booleanSeries.values]
newFilteration #here will check only the values

0    10
1    20
4    50
dtype: int64

In [86]:
booleanSeries.values

array([ True,  True, False, False,  True])

#########################################################

In [87]:
mySeries = pd.Series([10,20,30,40,50], name="Grades", index=["Ali", "Ahmed","Muna","Noor", "Nada"])
print(mySeries)

# 1 Series inside Series to filteration
boolean = mySeries > 40
print(mySeries[boolean])

# 2 Series inside Series to filteration
boolean = pd.Series([True, True, False, False, True], index=["Ali", "Ahmed","Muna","Noor", "Nada"])
print(mySeries[boolean])

# 3 List inside Series to filteration
booleanList = [True, True, False, False, True]
print(mySeries[booleanList])

# 4 Array inside Series to filteration
booleanSeries = pd.Series([True, True, False, False, True])
booleanValuesAsArray = booleanSeries.values
print(mySeries[booleanValuesAsArray])

Ali      10
Ahmed    20
Muna     30
Noor     40
Nada     50
Name: Grades, dtype: int64
Nada    50
Name: Grades, dtype: int64
Ali      10
Ahmed    20
Nada     50
Name: Grades, dtype: int64
Ali      10
Ahmed    20
Nada     50
Name: Grades, dtype: int64
Ali      10
Ahmed    20
Nada     50
Name: Grades, dtype: int64