In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [29]:
df = pd.read_excel("data.xlsx")
df = pd.DataFrame(df)
df

    Employee_ID  Monthly_Expense
0             1              295
1             2              310
2             3              320
3             4              305
4             5              315
5             6              290
6             7              300
7             8              310
8             9              325
9            10              295
10           11              305
11           12              315
12           13              320
13           14              330
14           15              310
15           16              295
16           17              305
17           18              290
18           19              315
19           20              310
20           21              295
21           22              305
22           23              300
23           24              310
24           25              320
25           26              315
26           27              120
27           28              700
28           29              750
29           30              310

In [30]:
#IQR method
Q1 = df['Monthly_Expense'].quantile(0.25)
Q3 = df['Monthly_Expense'].quantile(0.75)
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

iqr_outliers = df[(df['Monthly_Expense'] < lower_bound) | (df['Monthly_Expense'] > upper_bound)]

print("IQR outliers:")
print(iqr_outliers)

IQR outliers:
    Employee_ID  Monthly_Expense
26           27              120
27           28              700
28           29              750

In [31]:
df['outliar_capped'] = np.where(df['Monthly_Expense'] > upper_bound, upper_bound,
                             np.where(df['Monthly_Expense'] < lower_bound, lower_bound, df['Monthly_Expense']))
df

    Employee_ID  Monthly_Expense  outliar_capped
0             1              295           295.0
1             2              310           310.0
2             3              320           320.0
3             4              305           305.0
4             5              315           315.0
5             6              290           290.0
6             7              300           300.0
7             8              310           310.0
8             9              325           325.0
9            10              295           295.0
10           11              305           305.0
11           12              315           315.0
12           13              320           320.0
13           14              330           330.0
14           15              310           310.0
15           16              295           295.0
16           17              305           305.0
17           18              290           290.0
18           19              315           315.0
19           20              310           310.0
20           21              295           295.0
21           22              305           305.0
22           23              300           300.0
23           24              310           310.0
24           25              320           320.0
25           26              315           315.0
26           27              120           277.5
27           28              700           337.5
28           29              750           337.5
29           30              310           310.0